# ~/.rtorrent.rc
# Karl-Martin Skontorp <kms@skontorp.net> ~ http://picofarad.org/

dht = on
session = ~/.rtorrent-session
directory = ~/download-torrent
port_range = 45012-45012
encryption = allow_incoming
peer_exchange = yes
dht_port = 45012
