# ~/.rtorrent.rc
# Karl-Martin Skontorp <kms@skontorp.net> ~ http://picofarad.org/

dht = on
session = ~/.rtorrent-session
directory = ~/download
port_range = 45012-45012
encryption = allow_incoming
peer_exchange = yes
upload_rate = 10
download_rate = 125
dht_port = 45012
